<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <a class="navbar-item" href="#">
            <img src="./assets/logo.png"/>
            <span class="is-size-5 has-text-weight-bold">{{ appConfig.appNameShort }}</span>
        </a>
        <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
           aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
        <div class="navbar-start">

            <a class="navbar-item" href="#">
                <span class="is-size-6">{{ appConfig.appName }}</span>
            </a>

            <div class="navbar-item has-dropdown is-hoverable is-hidden-desktop">
                <a class="navbar-link">
                    Menu
                </a>
                <div class="navbar-dropdown" (click)="toggleNavbar()">
                    <a *ngIf="!user.admin" class="navbar-item" routerLinkActive="is-active" routerLink="./dashboard">Moje płatności</a>
                    <hr *ngIf="user.admin" class="navbar-divider">
                    <a *ngIf="user.admin" class="navbar-item" routerLinkActive="is-active" routerLink="./finance-in-time">Płatności</a>
                    <a *ngIf="user.admin" class="navbar-item" routerLinkActive="is-active" routerLink="./finance-type-value">Wysokość
                        opłaty </a>
                    <a *ngIf="user.admin" class="navbar-item" routerLinkActive="is-active" routerLink="./finance-type">Typ opłaty</a>
                    <hr *ngIf="user.admin" class="navbar-divider">

                    <a *ngIf="user.admin" class="navbar-item"  routerLinkActive="is-active" routerLink="./users">Rejestr użytkowników</a>
                    <a *ngIf="user.admin" class="navbar-item"  routerLinkActive="is-active" routerLink="./consumers">Rejestr konsumentów</a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <span style="padding-right: 15px;">Witaj <b
                        style="font-weight: bold">{{ user.firstName }} {{ user.lastName }}</b></span>
                <div class="buttons">
                    <a class="button is-small  is-info" [routerLink]="['./../account/logout']" id="logout">
                        <span class="icon">
                          <i class="fa fa-user"></i>
                        </span>
                        <span>Wyloguj</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</nav>

<div class="columns is-fullheight">
    <div class="column is-2 is-sidebar-menu is-hidden-mobile">
        <aside class="menu">

            <p class="menu-label">
                Menu
            </p>

            <ul class="menu-list">
                <li *ngIf="!user.admin"><a routerLinkActive="is-active" routerLink="./dashboard">Moje płatności</a></li>
                <li *ngIf="user.admin"><a routerLinkActive="is-active" routerLink="./finance-in-time">Płatności</a></li>
                <li *ngIf="user.admin"><a routerLinkActive="is-active" routerLink="./finance-type-value">Wysokość opłaty </a></li>
                <li *ngIf="user.admin"><a routerLinkActive="is-active" routerLink="./finance-type">Typ opłaty</a></li>
            </ul>

            <p class="menu-label" *ngIf="user.admin">
                Rejestr
            </p>

            <ul class="menu-list" *ngIf="user.admin">
                <li><a routerLinkActive="is-active" routerLink="./users">Użytkowników</a></li>
                <li><a routerLinkActive="is-active" routerLink="./consumers">Konsumentów</a></li>
            </ul>

        </aside>
    </div>
    <div class="column is-main-content padding">
        <router-outlet></router-outlet>
        <shared-app-dialog></shared-app-dialog>
    </div>
</div>



