<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
    <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
       aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <a class="navbar-item">Start</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Płatności
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <span style="padding-right: 15px;">Witaj <b style="font-weight: bold">{{ user.firstName }} {{ user.lastName }}</b></span>
        <div class="buttons">
          <a class="button is-light" [routerLink]="['./../account/logout']">
            Wyloguj
          </a>
        </div>
      </div>
    </div>


  </div>
</nav>

<div class="columns is-fullheight">
  <div class="column is-2 is-sidebar-menu is-hidden-mobile">
    <aside class="menu">
      <p class="menu-label">
        Ogólne
      </p>
      <ul class="menu-list">
        <li><a routerLinkActive="is-active" routerLink="./dashboard">Pulpit</a></li>
      </ul>

      <p class="menu-label">
        Płatności
      </p>
      <ul class="menu-list">
        <li><a>Listy płatności</a></li>
        <li><a routerLinkActive="is-active" routerLink="./finance-type-value">Wysokość opłaty </a></li>
        <li><a routerLinkActive="is-active" routerLink="./finance-type">Typ opłaty</a></li>
      </ul>

      <p class="menu-label">
        Dostęp
      </p>
      <ul class="menu-list">
        <li><a>Konta pracowników</a></li>
        <li><a>Konta rodziców</a></li>
      </ul>
    </aside>
  </div>
  <div class="column is-main-content padding">
    <router-outlet></router-outlet>
  </div>
</div>


<app-modal></app-modal>

