<div class="card">

    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <p class="image is-size-4">
                    Do zapłaty 45,56zł
                </p>
            </div>

        </div>
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48 is-size-1">
                    <i class="fa fa-user-circle-o"></i>
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ user.firstName }} {{ user.lastName }}</p>
                <p class="subtitle is-6">@{{ user.username }}</p>
            </div>


        </div>

        <div class="content">

            Nazwa: Samorządowe Przedszkole<br>
            Nr rachunku bankowego: <b>82103018694334584084003749</b><br>
            <br>
            Opłata za: Kwiecień 2021
            <br>
            Ul. Wolności 45<br>
            69-220 Ośno Lubuskie
        </div>
    </div>

    <div class="card-image">
        <figure class="image">
            <img src="./assets/pay.png" width="100%" alt="Wybierz płatność">
        </figure>
    </div>

</div>
