<div class="card">

    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <p class="image is-size-4">
                    Do zapłaty {{forPaid}} zł <a target="_blank" class="button is-info is-outlined"  href="https://merch-prod.snd.payu.com/pay/?orderId=7PPH8Q3V8P210414GUEST000P01&token=eyJhbGciOiJIUzI1NiJ9.eyJvcmRlcklkIjoiN1BQSDhRM1Y4UDIxMDQxNEdVRVNUMDAwUDAxIiwicG9zSWQiOiJvZzVIeTU5ZSIsImF1dGhvcml0aWVzIjpbIlJPTEVfQ0xJRU5UIl0sImV4cCI6MTYxODUxNzg3MiwiaXNzIjoiUEFZVSIsImF1ZCI6ImFwaS1nYXRld2F5Iiwic3ViIjoiUGF5VSBzdWJqZWN0IiwianRpIjoiYzRmZTBiY2QtNTFmZi00YTM3LWIxZWMtODM1Y2JjZWJjYTFmIn0.a-mLqRWIxDEZntZR3C0u3FtfDqy0mETId4LCN6dRO7g#/payment">
                    Zapłać
                </a>
                </p>
            </div>
        </div>
        <table class="table">
            <thead>
            <th>Dzień</th>
            <th>Składnik</th>
            <th>Kwota</th>
            </thead>
            <tbody>
            <tr *ngFor="let paid of paids">
                <td>{{paid.day}}</td>
                <td>{{paid.name}}</td>
                <td>{{paid.val}}zł</td>
            </tr>
            </tbody>
            <tfoot>
            <th colspan="2" style="text-align: right">Razem :</th>
            <th>{{forPaid}}zł</th>
            </tfoot>
        </table>
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48 is-size-1">
                    <i class="fa fa-user-circle-o"></i>
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ user.firstName }} {{ user.lastName }}</p>
                <p class="subtitle is-6">@{{ user.username }}</p>
            </div>
        </div>
        <div class="content">

            <span class="is-size-3-desktop is-size-5-mobile">{{appConfig.appDescript}}</span>
            <br>
            <br>
            Nr rachunku bankowego <br><b class="is-size-4-desktop is-size-6-mobile">82103018694334584084003749</b><br>
            <br>

            Opłata za: Kwiecień 2021
            <br>
            ul.{{ appConfig.street}}<br>
            {{ appConfig.zipCode}} {{ appConfig.city}}
        </div>
    </div>

    <div class="card-image">
        <figure class="image" style="text-align: center">
            <a target="_parent" class="button is-info is-outlined" style="width: 99%" href="https://merch-prod.snd.payu.com/pay/?orderId=7PPH8Q3V8P210414GUEST000P01&token=eyJhbGciOiJIUzI1NiJ9.eyJvcmRlcklkIjoiN1BQSDhRM1Y4UDIxMDQxNEdVRVNUMDAwUDAxIiwicG9zSWQiOiJvZzVIeTU5ZSIsImF1dGhvcml0aWVzIjpbIlJPTEVfQ0xJRU5UIl0sImV4cCI6MTYxODUxNzg3MiwiaXNzIjoiUEFZVSIsImF1ZCI6ImFwaS1nYXRld2F5Iiwic3ViIjoiUGF5VSBzdWJqZWN0IiwianRpIjoiYzRmZTBiY2QtNTFmZi00YTM3LWIxZWMtODM1Y2JjZWJjYTFmIn0.a-mLqRWIxDEZntZR3C0u3FtfDqy0mETId4LCN6dRO7g#/payment">
            Zapłać
            </a>
<br><br>
        </figure>
    </div>

</div>
